body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h2{
    font-size:30px;
    color: #6F6F6F;
}
h3{
    font-size:20px;
    color: black;
}
p{
    color: #313131;
    font-size: 16px;
}
.title_div{
    margin-top: 110px;
}
.top-section h1{
    font-size: 45px;
    font-family: 'Kanit', sans-serif;
    color: #565656;
}
.top-section p{
    color: #565656;
    font-size: 16px;
    padding-bottom: 20px;
}

.flexible{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link_button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 11px 23px;
    border-radius: 20px;
}

/* top area style finished here*/
.About-Area {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size:100%;
}
.About-Area img{
    width: 50%;
    padding-left: 100px;
}
.text-area{
    padding-top: 93px;
}
.About-Area p{
    padding-bottom: 60px;
}

/* About me area style finished here*/

.first-part{
    text-align: center;
    margin-bottom: 50px;
}
.recipy-item{
    width: 23%;
    margin-left: 7%;
    border: 5px solid white;
    border-radius:20px;
    box-shadow: 10px 10px 40px gray;
    padding: 5px;
}
.recipy-item img{
    width: 100%;
    border-radius: 20px;
}

/* My recipy area style finished here*/

.social-information{
    border-radius:20px;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    width: 85%;
    margin-left: 90px;
}
.info-items{
    width: 30%;
    padding-left: 2%;
}
.info-items h1{
    font-size: 30px;
    margin-bottom: 4px;
    margin-top: 15px;
    text-align: center;
}
.info-items p{
    font-size: 11px;
    text-align: center;
}

/* Social Information area style finished here*/

footer{
    background-color: #0A0C16;
    text-align: center;
    padding: 10px 10px;
}
footer h2{
    color: #5B5B5B;
}
footer p{
    color: #fff;
    margin-bottom: 30px;
    font-size: 12px;
}