body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h2{
    font-size:30px;
    color: #6F6F6F;
}
p{
    color: #313131;
    font-size: 16px;
}
.title_div{
    margin-top: 110px;
}
.top-section h1{
    font-size: 45px;
    font-family: 'Kanit', sans-serif;
    color: #565656;
}
.top-section p{
    color: #565656;
    font-size: 16px;
    padding-bottom: 20px;
}

.flexible{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link_button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 11px 23px;
    border-radius: 20px;
}

/* top area style finished here*/
.About-Area {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size:100%;
}
.About-Area img{
    width: 50%;
    padding-left: 100px;
}
.text-area{
    padding-top: 93px;
}
.About-Area p{
    padding-bottom: 60px;
}